# Переменные контейнера mysql-asterisk.
# Скопируйте в .env.mysql:
#   cp .env.mysql.example .env.mysql

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=asterisk
MYSQL_DATABASE_CDR=asterisk_cdr
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ASTERISK_USER=asterisk_user
MYSQL_ASTERISK_USER_PASSWORD=user_password
